body{
    background-color: white;
}

li {

    display: inline-block;
    
            
}

#signin {
    color: #fff;
    background: #4387FD;
    border: 1px solid #4285F4;
    outline: none;
    font-family: Arial, sans-serif;
    font-size: 13px;
    font-weight: bold;
    text-decoration: none;
    border-radius: 2px;
    padding: 6px 12px;
}

#apps {
    display: inline-block;
    background-image: url(images/icons.png);
    background-size: 528px 68px;
    background-position: -132px -38px;
    height: 30px;
    width: 30px;
    opacity: .50;
    position: relative;
    top: -5px;
    left: -15px;
    
        
}
#toolbar {
    position: relative;
    top: 2px;
    left: 0px;
}

.toolbar-links {
    font-family: Arial, sans-serif;
    color: #000;
    opacity: 0.75;
    font-size: 13px;
    padding-left: 15px;
    text-decoration: none;
    position: relative;
    left: -30px

}

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
}

.searchbar {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    width: 450px;
    height: 30px;
}

#searchbar-container {

    width: 833px;
}